<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>投稿内容を記入してください</p>
  <div class="form-group">
    <%= form.label :task_name,"タスク名" %>
    <%= form.text_field :task_name %>
  </div>
  <div class="form-group">
    <%= form.label :task_content,"内容" %>
    <%= form.text_field :task_content %>
  </div>
  <div class="form-group">
    <%= form.label :limit,"期日" %>
    <%= form.date_field :limit %>
  </div>
  <div class="form-group">
    <%= form.label :status,"ステータス" %>
    <%= form.select :status,["未着手","着手中","完了"] %>
  </div>
  <div class="form-group">
    <%= form.label :priority,"優先度" %>
    <%= form.select :priority,Task.priorities.keys.to_a %>
  </div>
  <div class="form-group">
    <%= form.label :label_name,"タグ" %>
    <%= form.collection_check_boxes( :label_ids, Label.all, :id, :label_name)%>
  </div>
  <%= form.submit "タスク作成" %>
<% end %>
<div class="task_index">
  <%= link_to "タスク一覧画面にもどる", tasks_path,class: "btn btn-primary" %>
</div>
<style>
.task_index{
  padding-top:10px;
}
p{
  padding-right:10px;
}
</style>


