<h1><%= @user.name %>さんのタスク一覧</h1>
  <p><%= notice %></p>
  <table>
    <tr>
      <th>作成者</th>
      <th>タスク名</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>登録日時</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
    <% @user.tasks.each do |task| %>
      <tr class="task_all">
        <td><%= task.user.name %></td>
        <td><%= task.task_name %></td>
        <td><%= task.task_content %></td>
        <td><%= l task.limit, format: :long %></td>
        <td><%= l task.created_at, format: :long %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to '戻る', admin_users_path%>
